{% extends "base.html" %}
{% load nvd3_tags %}

{% block title %}<div class="jumbotron"> Welcome back, {% if user.is_authenticated %} {{ user.username }}
    <a href="{% url 'create_workout' %}" class="btn btn-default btn-lg" role="button">
    <span class="glyphicon glyphicon-plus"></span>
    Go workout</a>
{% else %} Fitizen
</div>
{% endif %}
{% endblock %}
{% block content %}

{% if user.is_authenticated %}

<div class="row">

  <div class="col-md-6">
      <p class="lead">Your recent workouts</p>
      <table class="table table-hover">
              {% for workout in workouts %}
                <tr>
                  <td><a href="/{{ user.username }}/workout/{{ workout.id }}">{{ workout.created|date:"l N jS, P" }}</a></td>
                </tr>
              {% endfor %}
      </table>
  </div>


  <div class="col-md-6">

    {% include_container chartcontainer 300 450 %}


    <ul class="list-inline">
    <li>{{exercise}}</li>
    <li>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Pick exercise<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/home/PL">Pullups</a></li>
          <li><a href="/home/D">Dips</a></li>
          <li><a href="/home/SQ">Squats</a></li>
          <li><a href="/home/LS">L-sits</a></li>
          <li><a href="/home/PU">Pushups</a></li>
          <li><a href="/home/RW">Rows</a></li>
        </ul>
      </div>
    </li>
  </ul>

</div>

</div>

{% else %}

<p class="lead"> Fitizen is a site that compliments /r/bodyweightfitness's beginner workout, <a href="http://www.reddit.com/r/bodyweightfitness/wiki/kb/recommended_routine">see here.</a></p>


{% endif %}

{% endblock %}
