{% extends "base.html" %}

{% block title %} Welcome, Fitizen! {% endblock %}
{% block content %}
<p class="lead"> Fitizen is a site that compliments /r/bodyweightfitness's beginner workout, <a href="http://www.reddit.com/r/bodyweightfitness/wiki/kb/recommended_routine">see here.</a></p>
<p class="lead">Click below to register or log in!</p>
<br />

<a href="/register" class="btn btn-default btn-lg" id="register" role="button">
  <span class="glyphicon glyphicon-plus"></span>
Register</a>

<a href="/login" class="btn btn-default btn-lg" id="login" role="button">
  <span class="glyphicon glyphicon-user"></span>
Log In</a>

{% endblock %}