{% extends 'base.html' %}

{% block title %} Group 3 Exerises {% endblock %}

{% block content %}

<p class="lead">These exercises are meant to be done in conjunction with one another</p>

<form action="/{{ user.username }}/update_workout/{{ workout_id }}/{{ group }}/" method="post">
{% csrf_token %}
<h2>Pushups
    <button type="button" class="btn btn-default btn-xs" onclick="$('#video1').toggle();">
        <span class="glyphicon glyphicon-film"></span>
    </button>
    <div id="video1" style="display:none;">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="col-sm-6" width="420" height="315" src="//www.youtube.com/embed/Eh00_rniF8E" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</h2>
{{ form1.as_p }}
<br />
<h2>Rows
    <button type="button" class="btn btn-default btn-xs" onclick="$('#video2').toggle();">
        <span class="glyphicon glyphicon-film"></span>
    </button>
    <div id="video2" style="display:none;">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="col-sm-6" width="420" height="315" src="//www.youtube.com/embed/e5fdh9_kH_Y" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</h2>
{{ form2.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
