{% extends "base.html" %}

{% block title %}
<div class="jumbotron">Body Weight Workout Summary</div>
{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">Grouping 1
    <a href="/{{ user.username }}/update_workout/{{ workout_id }}/1" class="btn btn-default btn-xs" role="button">
    <span class="glyphicon glyphicon-play"></span></a>
  </div>
  <table class="table table-hover table-condensed">

    <thead>
        <tr>
            <th>Exercise</th>
            <th>Set 1</th>
            <th>Set 2</th>
            <th>Set 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pullups Level: {{ pullups.level }}</td>
            <td>{{ pullups.set1 }}</td>
            <td>{{ pullups.set2 }}</td>
            <td>{{ pullups.set3 }}</td>
        </tr>
        <tr>
            <td>Dips Level: {{ dips.level }}</td>
            <td>{{ dips.set1 }}</td>
            <td>{{ dips.set2 }}</td>
            <td>{{ dips.set3 }}</td>
        </tr>
    </tbody>

    </table>
 </div>

 <div class="panel panel-default">
  <div class="panel-heading">Grouping 2
        <a href="/{{ user.username }}/update_workout/{{ workout_id }}/2" class="btn btn-default btn-xs" role="button">
        <span class="glyphicon glyphicon-play"></span></a>
  </div>
 <table class="table table-hover table-condensed">

    <thead>
        <tr>
            <th>Exercise</th>
            <th>Set 1</th>
            <th>Set 2</th>
            <th>Set 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Squats Level: {{ squats.level }}</td>
            <td>{{ squats.set1 }}</td>
            <td>{{ squats.set2 }}</td>
            <td>{{ squats.set3 }}</td>
        </tr>
        <tr>
            <td>Lsits Level: {{ lsits.level }}</td>
            <td>{{ lsits.set1 }}</td>
            <td>{{ lsits.set2 }}</td>
            <td>{{ lsits.set3 }}</td>
        </tr>
    </tbody>

    </table>
 </div>

 <div class="panel panel-default">
  <div class="panel-heading">Grouping 3
        <a href="/{{ user.username }}/update_workout/{{ workout_id }}/3" class="btn btn-default btn-xs" role="button">
        <span class="glyphicon glyphicon-play"></span></a>
  </div>
  <table class="table table-hover table-condensed">

    <thead>
        <tr>
            <th>Exercise</th>
            <th>Set 1</th>
            <th>Set 2</th>
            <th>Set 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pushups Level: {{ pushups.level }}
            </td>
            <td>{{ pushups.set1 }}</td>
            <td>{{ pushups.set2 }}</td>
            <td>{{ pushups.set3 }}</td>
        </tr>
        <tr>
            <td>Rows Level: {{ rows.level }}</td>
            <td>{{ rows.set1 }}</td>
            <td>{{ rows.set2 }}</td>
            <td>{{ rows.set3 }}</td>
        </tr>
    </tbody>

    </table>
 </div>
{% endblock %}

